<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<header>
  <div class="flex h-20 bg-[#15B6B8] max-[480px]:block">
    <div class="navItems relative w-48 text-center self-center">
      <a href="{{ path('app_home') }}"><img class="h-20" src="{{ asset('build/images/cantarella_logo.59344c9a.png') }}"></a>
      <li id="navbarMenu">
        <button class="displayMenu text-white font-bold text-4xl">
          &#8801;
        </button>
      </li>
    </div>
    <div class="navbar flex w-full max-[480px]:h-screen">
      <ul id="menuItems" class="flex items-center justify-between w-full pl-8 pr-16 max-[480px]:divide-y">
        <li>
          <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li>
          <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_a-propos') }}"
            >L'association</a
          >
        </li>
        <li>
          <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_evenements') }}"
            >Évenements</a
          >
        </li>
        <li>
          <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_nostalgie') }}"
            >Nostalgie</a
          >
        </li>
          <li
            data-dropdown-toggle="dropdown"
            class="text-white hover:cursor-pointer hover:text-[#A1E2E3]"
          >
            Utilisateur 
          </li>  
          <div
            id="dropdown"
            class="hidden divide-black bg-[#15B6B8] w-44 border rounded-xl"
          >
          <ul class="py-2 divide-y flex flex-col items-center max-[480px]:border max-[480px]:rounded-xl">
            {% if not app.user %}
            <li>
              <a
                class="text-white hover:text-[#A1E2E3]"
                href="{{ path('app_login') }}"
                >Connexion</a
              >
            </li>     
            {% endif %} 
            {% if not app.user %}
            <li>
              <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_register') }}">Inscription</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <li>
              <a class="text-white hover:text-[#A1E2E3]" href="{{ path('app_file_sharing') }}">Partage de fichiers</a>
            </li>
            {% endif %}
            {% if app.user %}
            <li>
              <a
                class="text-white hover:text-[#A1E2E3]"
                href="{{ path('app_logout') }}"
                >Se déconnecter</a
              >
            </li>
            {% endif %} {% if is_granted('ROLE_ADMIN') %}
            <a
              class="text-white hover:text-[#A1E2E3]"
              href="{{ path('admin') }}"
              >Admin</a
            >
            {% endif %}
          </div>
        </ul>
      </ul>
    </div>
  </div>
</header>
