{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %} {% include "header/header.html.twig" %} {% for flash_error in
app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="max-w-md mx-auto mt-40 p-4 border border-gray-300 rounded">
{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}
<h2 class="pb-4">Créer un compte</h2> 
<div class="mb-4">
{{ form_row(registrationForm.email) }}
</div>
<div class="mb-4">
{{
  form_row(registrationForm.plainPassword, {
    label: "Password"
  })
}}
</div>
<div class="mb-4 flex items-center">
{{ form_row(registrationForm.agreeTerms) }}
</div>
<button type="submit" class="btn w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Register</button>
{{ form_end(registrationForm) }}
</div>

{% endblock %}
