{% extends 'base.html.twig' %} {% block title %}Nostalgie{% endblock %} {% block
body %} {% include "header/header.html.twig" %}
<div class="flex p-4 flex-wrap justify-center">
  <img
    class="h-80 m-2 max-[480px]:h-64"
    src="{{
      asset(
        'build/images/276108191_10159798178344738_8159716240078307338_n.9c8dd4d4.jpg'
      )
    }}"
  />
  <img
    class="h-80 m-2 max-[480px]:h-64"
    src="{{
      asset('build/images/ADL_17-07-04_orgue_et_chorale_24.2df303b6.jpg')
    }}"
  />
  <img
    class="h-80 m-2 max-[480px]:h-64"
    src="{{
      asset(
        'build/images/22050901_10155101113555885_3046640990628493773_o.69c15f73.jpg'
      )
    }}"
  />
  <img
    class="h-80 m-2 max-[480px]:h-64"
    src="{{
      asset(
        'build/images/25351986_910061755825170_4435516302953697473_o.1976b781.jpg'
      )
    }}"
  />
  <img
    class="h-80 m-2 max-[480px]:h-64"
    src="{{
      asset(
        'build/images/25352070_910061979158481_5352002118530936429_o.e24eb3be.jpg'
      )
    }}"
  />
  <img
    class="h-80 m-2 max-[480px]:h-52"
    src="{{
      asset(
        'build/images/275558174_2168407513323915_7254614111671432915_n.19860868.jpg'
      )
    }}"
  />
</div>
{% include "footer/footer.html.twig" %} {% endblock %}
